.save-dropdown {
  position: relative;
  display: inline-block;
}

.save-dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 120px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.5);
  z-index: 10;
  border-radius: 4px;
}

.save-dropdown:hover .save-dropdown-content {
  display: block;
}

.save-dropdown-content button {
  color: white;
  padding: 10px;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.save-dropdown-content button:hover {
  background-color: #444;
}